body {
  cursor: url("./assets/unavailable.cur"), auto !important;
  transition: all 200ms;
}
svg[type="black"] {
  color: black;
  overflow: scroll;
}
li:active, li:hover, li:visited{
  background: red, auto !important;
}